*{
	margin:0;
	padding:0;
	/*
	border:none !important;
	*/
}

body{
	background-color:#e5e5e5;
}

div.map{
	width:1225px;
	height:750px;
	margin:0 auto;
	background: url(images/map.jpg) no-repeat center center;
	background-size:cover;
	position:relative;
	border:1px solid #05060A;
}

div.map div.pixel{
	width:35px; /*35*/
	height:35px; /*35*/
	outline:1px solid rgba(6, 6, 187, 0.33);
	position:absolute;
	top:0;
	left:0;
}
